<a href="https://colab.research.google.com/github/aparna-2001/machine_learning_using_python/blob/main/Descriptive_analysis_ipl_data.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [3]:
import pandas as pd


ipl_df = pd.read_csv('IPL IMB381IPL2013.csv')

In [4]:
ipl_df.columns

Index(['Sl.NO.', 'PLAYER NAME', 'AGE', 'COUNTRY', 'TEAM', 'PLAYING ROLE',
       'T-RUNS', 'T-WKTS', 'ODI-RUNS-S', 'ODI-SR-B', 'ODI-WKTS', 'ODI-SR-BL',
       'CAPTAINCY EXP', 'RUNS-S', 'HS', 'AVE', 'SR-B', 'SIXERS', 'RUNS-C',
       'WKTS', 'AVE-BL', 'ECON', 'SR-BL', 'AUCTION YEAR', 'BASE PRICE',
       'SOLD PRICE'],
      dtype='object')

In [5]:
ipl_df['PLAYER NAME'][0:5]

0     Abdulla, YA
1    Abdur Razzak
2     Agarkar, AB
3       Ashwin, R
4    Badrinath, S
Name: PLAYER NAME, dtype: object

In [7]:
ipl_df[['PLAYER NAME', 'COUNTRY']] [0:5]

    PLAYER NAME COUNTRY
0   Abdulla, YA      SA
1  Abdur Razzak     BAN
2   Agarkar, AB     IND
3     Ashwin, R     IND
4  Badrinath, S     IND

In [10]:
ipl_df['COUNTRY'].value_counts(normalize= True) * 100

COUNTRY
IND    40.769231
AUS    16.923077
SA     12.307692
SL      9.230769
PAK     6.923077
NZ      5.384615
WI      4.615385
ENG     2.307692
BAN     0.769231
ZIM     0.769231
Name: proportion, dtype: float64

In [11]:
pd.crosstab(ipl_df['AGE'], ipl_df['PLAYING ROLE'])

PLAYING ROLE  Allrounder  Batsman  Bowler  W. Keeper
AGE
1                      4        5       7          0
2                     25       21      29         11
3                      6       13       8          1

In [12]:
ipl_df[['PLAYER NAME', 'SOLD PRICE']].sort_values('SOLD PRICE')[0:5]

      PLAYER NAME  SOLD PRICE
73     Noffke, AA       20000
46    Kamran Khan       24000
5      Bailey, GJ       50000
0     Abdulla, YA       50000
34  Henriques, MC       50000

In [14]:
ipl_df[['PLAYER NAME', 'SOLD PRICE']].sort_values('SOLD PRICE', ascending = False) [0:5]

       PLAYER NAME  SOLD PRICE
127   Yuvraj Singh     1800000
50        Kohli, V     1800000
111  Tendulkar, SR     1800000
93       Sehwag, V     1800000
113     Tiwary, SS     1600000